.banner-nav {
  font-size: 0;
  background: #0d1b28;
  color: #fff;
  border-radius: 0 0 5px 5px;
  list-style-type: none;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}

.banner-nav li {
  font-size: 21px;
  display: inline-block;
  margin: 0;
  padding: 0 15px;
}

.banner-nav li:hover, .banner-nav li a:hover {
  background: #25313d;
  text-decoration: none;
}

.banner-nav li a, .banner-nav a li {
  color: #fff;
}
